* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
}
nav {
    position: fixed;
    width: 100%;
    height: 50px;
    background: #212121;
    z-index: 2;
}
.header__menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    list-style-type: none;
    margin: 0;
}
.header_item {
    border-right: 2px dotted #000;
    padding-right: 44px;
}
.header__link {
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
}

.subheader {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 72px;
    background-color: rgba(0, 0, 0, 0.6);
}
.subheader__logo {
    display: block;
    margin: 10px 0 0 0;
}
.subheader__official {
    margin: 2px 0 0 0;
    font-weight: 200;
    font-size: 13px;
    color: #FFFFFF;
    opacity: 0.6;
}
.subheader__call {
    margin: 10px 0 0 0;
    font-weight: 300;
    font-size: 12px;
    text-align: right;
    color: #FFFFFF;
}
.subheader__phone {
    display: block;
    font-weight: normal;
    font-size: 22px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}
.subheader__btn {
    margin: 10px 0 0 0;
    width: 172px;
    height: 46px;
    border: none;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.promo {
    padding: 120px 0 180px 0;
    background: url(../img/uber_bg.jpg) center center/cover no-repeat;
}
.promo__title {
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}
.promo__subtitle {
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}
.promo__desr {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin: 16px 0 0 0;
}
.promo__btn {
    display: block;
    margin: 110px auto 0 auto;
    width: 259px;
    height: 63px;
    border: none;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.advantage {
    padding: 20px 0 60px 0;
}
.title {
    margin: 0 auto;
    width: 115px;
    height: 27px;
    background: #000000;
    font-weight: normal;
    font-size: 11px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.advantage__title { 
}
.subtitle {
    margin: 40px 0 0 0;
    font-weight: bold;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}
.advantage__subtitle {
}
.advantage__cause {
}
.cause {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 100%;
}
.cause__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 116px;
    height: 116px;
    background-color: #1eacc7;
    border-radius: 100%;
}

.cause__descr {
    width: 400px;
}
.cause__title {
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    align-items: center;
    color: #1EACC7;
}
.cause__text {
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    align-items: center;
    color: #202020;
}
